.awards-top{
    width: 100%;
    margin:auto;
    margin-top: 220px;    
}
.awards-container{
    margin-top: 60px;
    width: 100% !important;
}
.awards-wrap-nowrap {
  display: flex;
  flex-wrap: wrap !important; 
  overflow-x: auto;           
}
.awards .card{
    width:100%;
    height:300px;
}
.awards .card-text{
    font-size: 0.9rem;
    color: $dark-gray;
    font-weight: 600;
}
#award-01, #award-03, #award-05, #award-02, #award-04{
    margin-top: 40px;
}
.link-learnmore{
    font-size: 0.9rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
}
.hr-dark{
    border-top: 2px solid black;
}
 
// sm (landscape phones, 576px y superior)
@media (min-width: 576px) {
    .awards-top{
    width: 550px;
    margin:auto;
    margin-top: 220px;    
}
}

// md (tablets, 768px y superior)
@media (min-width: 768px) {
#award-01, #award-03, #award-05{
    margin-top: 100px;
}

}

// lg (desktops, 992px y superior)
@media (min-width: 992px) {
.awards-container{
    margin-top: 60px;
}
.awards-bottom{
    width: 100%;
    margin:0;
    margin-top: 40px;
    padding: 0;
}

.awards-wrap-nowrap {
  display: flex;
  flex-wrap: nowrap !important; 
  overflow-x: auto;           
}

}