.helpful-answers{
    width: 100%;
    margin: auto;
    color:$navy-blue;
    margin-top: 120px;
}
.accordion{
    margin-bottom: 24px;
}
.accordion-button{
    font-size: 0.8rem;
    font-weight: 700;
}
.btn-helpful{
    font-size: 0.8rem;
}

// sm (landscape phones, 576px y superior)
@media (min-width: 576px) {}

// md (tablets, 768px y superior)
@media (min-width: 768px) {}

// lg (desktops, 992px y superior)
@media (min-width: 992px) {

.helpful-answers{
    width: $lg-width;
    margin: auto;
    color:$navy-blue;
    margin-top: 150px;
}    
}