.helpful-answers{
    width: $lg-width;
    margin: auto;
    color:$navy-blue;
    margin-top: 150px;
}
.accordion{
    margin-bottom: 24px;
}
.accordion-button{
    font-size: 0.8rem;
    font-weight: 700;
}