.heroe {
    background-color: $primary;
    margin-top: 0px;
    padding-top: 90px;
}
.heroe-container {
    width: $lg-width;
    margin: 0 auto;
    padding: 60px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.heroe-title {
    color: white;
    font-size: 3.2rem;
    font-weight: 700;
    width:67%;
    line-height: 5rem;
}
.clippath-1 {

    width: 100%;
    height: 100px;
    background: white;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}