.heroe {
    background-color: $primary;
    margin-top: 0px;
    padding-top: 90px;
}
.heroe-container {
    width: $lg-width;
    margin: 0 auto;
    //padding: 60px 10px;
    //display: flex;
    //align-items: center;
    //justify-content: space-between;
}
.heroe-title {
    padding-top: 60px;
    color: white;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 5rem;
}
.heroe-subtitle{
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 2rem;
    margin-top: 20px;
}   
.heroe-trustedby{
    color: white;
    font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: center;
    min-width: 600px;
    margin-top: 90px;
}

.heroe-button{
    margin-top: 30px;
    font-size: $font-shopping-size;
    font-weight: 600;
    width:180px;
    height: 60px;
}

.heroe-demo{
    margin-top: 0px;
    width: 100%;
    max-width: 550px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-bottom-right-radius: 100px;
    background-color: white;
    padding: 40px;
}
.card-title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: $navy-blue;
}
.card-panel{
    background-color: #1F1248;
    background-image: url("../images/png/credit-card.png");
    border-radius: 7px;
    padding: 20px;
    margin-top: 10px;
    width: 470px;
    height: 280px;
}
.card-subtitle{
    font-size: 0.7rem;
    font-variant: capitalize; 
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.card-text{
    font-size: 1.5rem;
    color: white;
    margin-top:20px;
    font-weight: 600;
}
.card-number{
    font-size: 1.8rem;
    color: white;
    margin-top: 4px;
    margin-top: 6px;
    font-weight: 700;
}
.payment-title{
    font-size: 1rem;
    color: $navy-blue;
    font-weight: 600;
}
.payment-amount{
    font-size: 0.9rem;
    color: $navy-blue;
    font-weight: 600;
}
.payment-text{
    font-size: 0.9rem;
    color: $gray;
    font-weight: 600;
    padding-bottom:20px;   
    margin-bottom: 15px;
    border-bottom: 1px solid $light-gray; 
}
.link-viewall{
    color: $primary;
    text-decoration: none;
    border-bottom: 1px dashed $primary;
}



.clippath-1 {
    width: 100%;
    height: 100px;
    background: white;
    clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
}

// sm (landscape phones, 576px y superior)
@media (min-width: 576px) {  }

// md (tablets, 768px y superior)
@media (min-width: 768px) { }

// lg (desktops, 992px y superior)
@media (min-width: 992px) { }