$primary: #038AFF;
$border-radius: 7px;
$full-width: 1280px;
$lg-width: 1200px;
$border-nav: 1px solid lighten($primary, 10%);
$font-family-base: 'Nunito Sans', sans-serif;
$font-shopping-size: 15px;
$navy-blue:#152B5C;
$turquoise:#5CCAA7;
$gray:#8592A5;
$light-gray:#E9ECF3;